/* BookData.css */

.main-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns in each row */
    gap: 20px; /* Adjust the gap between grid items */
    margin-top: 100px;
  }
  
  .grid-item {
    text-align: center;
    border: 1px solid #ddd; /* Add border for visual separation */
    padding: 10px;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .free-of-cost{
    color: green;
    font-weight: 700;
  }
  /* Add additional styling as needed */
  